<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NicoLive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NicoLive.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="last_lv" serializeAs="String">
                <value />
            </setting>
            <setting name="font_size" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>mail@example.com</value>
            </setting>
            <setting name="warp_cnt" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="bouyomi_port" serializeAs="String">
                <value>50001</value>
            </setting>
            <setting name="imakoko_user" serializeAs="String">
                <value />
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="auto_connect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tw_user" serializeAs="String">
                <value />
            </setting>
            <setting name="tw_passwd" serializeAs="String">
                <value />
            </setting>
            <setting name="tw_start" serializeAs="String">
                <value>配信開始 @TITLE @URL</value>
            </setting>
            <setting name="tw_end" serializeAs="String">
                <value>配信終了 @URL</value>
            </setting>
            <setting name="call_upgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="column_width_0" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="column_width_1" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="column_width_2" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="column_width_3" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="auto_wakutori" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="talk_3min" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="save_log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_username" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tweet_wait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="talk_bat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="column_width_ext_0" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="column_width_ext_1" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="column_width_ext_2" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="column_width_ext_3" serializeAs="String">
                <value>780</value>
            </setting>
            <setting name="back_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="text_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="owner_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ng_color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="mobile_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="need184" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rest_batt" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="rest_time" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="use_fme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tw_token" serializeAs="String">
                <value />
            </setting>
            <setting name="tw_token_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="tw_start_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tw_end_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fmle_path" serializeAs="String">
                <value>C:\Program Files (x86)\Adobe\Flash Media Live Encoder 3.2\FMLECmd.exe</value>
            </setting>
            <setting name="comment_max" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="fme_dos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_res" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="need_premium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mw_pos" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="mw_size" serializeAs="String">
                <value>970, 580</value>
            </setting>
            <setting name="mw_state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="cw_pos" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="cw_size" serializeAs="String">
                <value>900, 580</value>
            </setting>
            <setting name="cw_state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="launch_bouyomi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bouyomi_path" serializeAs="String">
                <value />
            </setting>
            <setting name="imk_path" serializeAs="String">
                <value>C:\Program Files (x86)\ImacocoNow\ImacocoNow.exe</value>
            </setting>
            <setting name="launch_imk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fme_compact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_reconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skip5min" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sekigaeMinutes" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="imakoko_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="imakoko_genzaichi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fme_gui" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fme_wait" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="imakoko_speed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalCnt_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveCnt_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UniqCnt_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CpuInfo_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Battery_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpLink_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_fme_setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBrowserCookie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>IElSafemode</value>
            </setting>
            <setting name="title_auto_inc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fme_session" serializeAs="String">
                <value>C:\ProgramData\Adobe\Flash Media Live Encoder 3.2\fmesessions.dat</value>
            </setting>
            <setting name="use_xsplit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_xsplit_scene_change" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="owner_comment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="imakoko_genzaichi_auto_comment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imakoko_genzaichi_auto_comment_int" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="imakoko_genzaichi_owner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imakoko_genzaichi_hidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="speak_nick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ng_notice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fmle_profile_path" serializeAs="String">
                <value />
            </setting>
            <setting name="fmle_default_profile" serializeAs="String">
                <value />
            </setting>
            <setting name="send_keepalive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wakumachi_view" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="column_width_4" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="column_width_5" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="slash_comment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hashamark_comment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comment_sort_desc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>ＭＳ ゴシック, 14.25pt</value>
            </setting>
            <setting name="speed_template" serializeAs="String">
                <value>時速 @SPEED kmです</value>
            </setting>
            <setting name="address_template" serializeAs="String">
                <value>現在地は「 @ADDRESS」です</value>
            </setting>
            <setting name="address_template2" serializeAs="String">
                <value>/perm 現在地は「 @ADDRESS」です</value>
            </setting>
            <setting name="use_nle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fme_dos_min" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="viewer_top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="viewer_big" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use_hq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_xsplit_shortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tw_hash" serializeAs="String">
                <value>#nicolive #nicolivekaiplus</value>
            </setting>
            <setting name="viewer_pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="viewer_auto_boot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cont_waku_notice" serializeAs="String">
                <value>False</value>
            </setting>
        </NicoLive.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
